header {
    text-align: center;
    background: linear-gradient(90deg, #4facfe, #00f2fe);
    padding: 20px;
    border-radius: 0 0 15px 15px;
    color: white;
}

header img {
    float: none;
    margin: 0 auto 10px auto;
    display: block;
}

#wrapper {
    margin: 20px;
}

aside {
    display: block;
    width: 100%;
}

nav {
    width:100%;
    background-color: #2c3e50;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0px 25px;;
}

nav ul li.active {
    border-bottom: 4px solid #00f2fe;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #99FFCC;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    margin: 20px;
    padding: 15px;
    background: #2c3e50;
    color: white;
    text-align: center;
    border-radius: 10px;
}